@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This ensures the background color actually applies to the whole screen */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f8fafc; /* slate-50 */
}